<!-- mobile -->
<div
  class="flex items-center justify-start max-w-96 mx-auto rounded-[50px] border px-3 shadow-lg gap-3 md:hidden"
>
  <button cButton color="dark" title="Buscar" style="border-radius: 50%; margin: 2px;"><i class="fas fa-search"></i></button>

  <div class="select-container">
    <label for="select-option">Zona</label>
    <select [(ngModel)]="filter.zona" id="select-option" [style.width]="'70px'" (change)="filterChange('sm')">
      <option value="" selected>Todas</option>
      @for(zona of zonas; track $index) {
        <option [value]="zona.name">{{zona.name}}</option>
      }
    </select>
  </div>
  <div class="select-container">
    <label for="select-option">Precio</label>
    <select [(ngModel)]="filter.precio" id="select-option" [style.width]="'70px'" (change)="filterChange('sm')">
      <option value="" selected>Todos</option>
      @for(precio of precios; track $index) {
        <option [value]="precio.name">{{precio.name}}</option>
      }
    </select>
  </div>
  <div class="input-container">
    <label for="input-text">Personas</label>
    <input [(ngModel)]="filter.personas" type="number" id="input-text" placeholder="Personas" [style.width]="'100px'" (input)="filterChange('sm')">
  </div>
</div>
<!-- tablet -->
<div class="hidden flex-col transition-search-head md:flex">
  <div
    class="search-header flex mb-2 bg-white rounded-full border shadow-lg px-4 mx-auto max-w-[80%] justify-between items-center  xl:w-[800px]"
  >
  <div class="select-container">
    <label for="select-option">Zona</label>
    <select [(ngModel)]="filter.zona" id="select-option" (change)="filterChange('lg')">
      <option value="" selected>Todas</option>
      @for(zona of zonas; track $index) {
        <option [value]="zona.name">{{zona.name}}</option>
      }
    </select>
  </div>
  <div class="select-container">
    <label for="select-option">Precio</label>
    <select [(ngModel)]="filter.precio"  id="select-option" (change)="filterChange('lg')">
      <option value="" selected>Todos</option>
      @for(precio of precios; track $index) {
        <option [value]="precio.name">{{precio.name}}</option>
      }
    </select>
  </div>
  <div class="input-container">
    <label for="input-text">Personas</label>
    <input [(ngModel)]="filter.personas" type="number" id="input-text" placeholder="Personas" (input)="filterChange('lg')">
  </div>
  <div class="input-container">
    <label for="input-text">Habitaciones</label>
    <input [(ngModel)]="filter.habitaciones" type="number" id="input-text" placeholder="Habitaciones" (input)="filterChange('lg')">
  </div>
  <button cButton color="dark" title="Buscar" style="border-radius: 50%; margin: 2px;" (click)="filterChange('lg')"><i class="fas fa-search"></i></button>
  </div>
</div>
