.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  border: 0px solid #ddd;
  border-radius: 20px;
  padding: 5px;
}

.input-container label {
  font-size: 12px;
  color: #555;
}

.input-container input {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  color: #8b8b8b;
}

.input-container input::placeholder {
  color: #8b8b8b;
  font-size: 14px;
}

.input-container:hover {
  border-color: #8b8b8b;
}

.select-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  border: 0px solid #ddd;
  border-radius: 20px;
  padding: 5px;
}

.select-container label {
  font-size: 12px;
  color: #555;
}

.select-container select {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #8b8b8b;
  appearance: none;
}

.select-container select option {
  color: #555;
}

.select-container:hover {
  border-color: #8b8b8b;
}
