<div class="row background-image mb-2">Administración</div>
<div class="side_options" *ngIf="active_page == 'places'">
  <button class="add_button" title="Nuevo Alojamiento" (click)="add_new_place(content_new_place)">
    <i class="fas fa-plus"></i>
  </button>
</div>
<div class="row">
  <div class="col-12">
    <ul ngbNav #nav="ngbNav" class="nav nav-tabs" [(activeId)]="active_page">
      <li [ngbNavItem]="'places'">
        <a ngbNavLink><strong>Alojamientos</strong></a>
        <ng-template ngbNavContent>
          <app-filter (submit)="filter($event)"></app-filter>
          <div class="row m-5">
            <div class="col-4" *ngFor="let place of places">
              <app-place [place]="place" [editable]="place_selected == place" [show_edit]="true" [is_admin]="true" (submit_cancel)="place_selected = null; get_alojamientos();" (submit_edit)="place_selected = place" (submit_save)="get_alojamientos();"></app-place>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="'reports'">
        <a ngbNavLink><strong>Reportes</strong></a>
        <ng-template ngbNavContent>
          <app-reporters></app-reporters>
        </ng-template>
      </li>
      <li [ngbNavItem]="'catalogs'">
        <a ngbNavLink><strong>Catálogos</strong></a>
        <ng-template ngbNavContent>
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton><b>Zonas</b></button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <table class="table table-striped table-hover">
                      <thead>
                        <th>Nombre</th>
                        <th>Opciones</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="col-9">
                            <input class="form-control" type="text" [(ngModel)]="newzone.name"/>
                          </td>
                          <td class="col-3">
                            <div class="btn-group col-12" role="group">
                              <button type="button" class="btn btn-success" (click)="upload_item(newzone, 'zonas')"><i class="fas fa-plus"></i>&nbsp;<i class="fas fa-save"></i>&nbsp;Agregar</button>
                            </div>
                          </td>
                        </tr>
                        <tr *ngFor="let zone of zonas" >
                          <td class="col-9">
                            <span *ngIf="selected != zone">{{zone.name}}</span>
                            <input *ngIf="selected == zone" class="form-control" type="text" [(ngModel)]="zone.name"/>
                          </td>
                          <td class="col-3">
                            <div class="btn-group col-12" role="group">
                              <button type="button" class="btn btn-warning" (click)="select(zone)"><i class="fas fa-edit"></i>&nbsp;Editar</button>
                              <button type="button" class="btn btn-success" (click)="update_item(zone, 'zonas')"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                              <button type="button" class="btn btn-danger" (click)="delete_item(zone, 'zonas')"><i class="fas fa-trash"></i>&nbsp;Eliminar</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton><b>Precios</b></button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <table class="table table-striped table-hover">
                      <thead>
                        <th>Rango</th>
                        <th>Opciones</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="col-9">
                            <input class="form-control" type="text" [(ngModel)]="newprice.name"/>
                          </td>
                          <td class="col-3">
                            <div class="btn-group col-12" role="group">
                              <button type="button" class="btn btn-success" (click)="upload_item(newprice, 'precios')"><i class="fas fa-plus"></i>&nbsp;<i class="fas fa-save"></i>&nbsp;Agregar</button>
                            </div>
                          </td>
                        </tr>
                        <tr *ngFor="let price of precios">
                          <td class="col-9">
                            <span *ngIf="selected != price">{{price.name}}</span>
                            <input *ngIf="selected == price" class="form-control" type="text" [(ngModel)]="price.name"/>
                          </td>
                          <td class="col-3">
                            <div class="btn-group col-12" role="group">
                              <button type="button" class="btn btn-warning" (click)="select(price)"><i class="fas fa-edit"></i>&nbsp;Editar</button>
                              <button type="button" class="btn btn-success" (click)="update_item(price, 'precios')"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                              <button type="button" class="btn btn-danger" (click)="delete_item(price, 'precios')"><i class="fas fa-trash"></i>&nbsp;Eliminar</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton><b>Servicios</b></button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <table class="table table-striped table-hover">
                      <thead>
                        <th>Icono</th>
                        <th>Icono Texto <a href="https://fontawesome.com/icons" target="_blank">Buscar</a></th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="col-1">
                            <i [class]="newservice.ico"></i>
                          </td>
                          <td class="col-2">
                            <input class="form-control" type="text" [(ngModel)]="newservice.ico"/>
                          </td>
                          <td class="col-3">
                            <input class="form-control" type="text" [(ngModel)]="newservice.name"/>
                          </td>
                          <td class="col-3">
                            <input class="form-control" type="text" [(ngModel)]="newservice.description"/>
                          </td>
                          <td class="col-3">
                            <div class="btn-group col-12" role="group">
                              <button type="button" class="btn btn-success" (click)="upload_item(newservice, 'servicios')"><i class="fas fa-plus"></i>&nbsp;<i class="fas fa-save"></i>&nbsp;Agregar</button>
                            </div>
                          </td>
                        </tr>
                        <tr *ngFor="let service of servicios">
                          <td class="col-1">
                            <i [class]="service.ico"></i>
                          </td>
                          <td class="col-2">
                            <span *ngIf="selected != service">{{service.ico}}</span>
                            <input *ngIf="selected == service" class="form-control" type="text" [(ngModel)]="service.ico"/>
                          </td>
                          <td class="col-3">
                            <span *ngIf="selected != service">{{service.name}}</span>
                            <input *ngIf="selected == service" class="form-control" type="text" [(ngModel)]="service.name"/>
                          </td>
                          <td class="col-3">
                            <span *ngIf="selected != service">{{service.description}}</span>
                            <input *ngIf="selected == service" class="form-control" type="text" [(ngModel)]="service.description"/>
                          </td>
                          <td class="col-3">
                            <div class="btn-group col-12" role="group">
                              <button type="button" class="btn btn-warning" (click)="select(service)"><i class="fas fa-edit"></i>&nbsp;Editar</button>
                              <button type="button" class="btn btn-success" (click)="update_item(service, 'servicios')"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                              <button type="button" class="btn btn-danger" (click)="delete_item(service, 'servicios')"><i class="fas fa-trash"></i>&nbsp;Eliminar</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div ngbAccordion>
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton><b>Condiciones</b></button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <table class="table table-striped table-hover">
                      <thead>
                        <th>Icono</th>
                        <th>Icono Texto <a href="https://fontawesome.com/icons" target="_blank">Buscar</a></th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Opciones</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="col-1">
                            <i [class]="newcondition.ico"></i>
                          </td>
                          <td class="col-2">
                            <input class="form-control" type="text" [(ngModel)]="newcondition.ico"/>
                          </td>
                          <td class="col-3">
                            <input class="form-control" type="text" [(ngModel)]="newcondition.name"/>
                          </td>
                          <td class="col-3">
                            <input class="form-control" type="text" [(ngModel)]="newcondition.description"/>
                          </td>
                          <td class="col-3">
                            <div class="btn-group col-12" role="group">
                              <button type="button" class="btn btn-success" (click)="upload_item(newcondition, 'condiciones')"><i class="fas fa-plus"></i>&nbsp;<i class="fas fa-save"></i>&nbsp;Agregar</button>
                            </div>
                          </td>
                        </tr>
                        <tr *ngFor="let condicion of condiciones">
                          <td class="col-1">
                            <i [class]="condicion.ico"></i>
                          </td>
                          <td class="col-2">
                            <span *ngIf="selected != condicion">{{condicion.ico}}</span>
                            <input *ngIf="selected == condicion" class="form-control" type="text" [(ngModel)]="condicion.ico"/>
                          </td>
                          <td class="col-3">
                            <span *ngIf="selected != condicion">{{condicion.name}}</span>
                            <input *ngIf="selected == condicion" class="form-control" type="text" [(ngModel)]="condicion.name"/>
                          </td>
                          <td class="col-3">
                            <span *ngIf="selected != condicion">{{condicion.description}}</span>
                            <input *ngIf="selected == condicion" class="form-control" type="text" [(ngModel)]="condicion.description"/>
                          </td>
                          <td class="col-3">
                            <div class="btn-group col-12" role="group">
                              <button type="button" class="btn btn-warning" (click)="select(condicion)"><i class="fas fa-edit"></i>&nbsp;Editar</button>
                              <button type="button" class="btn btn-success" (click)="update_item(condicion, 'condiciones')"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                              <button type="button" class="btn btn-danger" (click)="delete_item(condicion, 'condiciones')"><i class="fas fa-trash"></i>&nbsp;Eliminar</button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>

<ng-template #content_new_place let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nuevo Alojamiento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <app-place [place]="new_place" [editable]="true" [show_edit]="false" [is_admin]="true" (submit_save)="get_alojamientos();"></app-place>
      </div>
    </div>
  </div>
</ng-template>
