.background-image {
  height: 600px;
  background-image: url('http://localhost:9090/assets/background.jpg'); /* Reemplaza con la URL de tu imagen */
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: #c6a673;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 5rem;
  font-weight: 400px;
  line-height: 1.5;
}

.side_options {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.add_button {
  background-color: darkgreen;
  color: white;
  border: none;
  padding: 15px;
  font-size: 25px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.add_button:hover {
  background-color: green;
}
