<div class="main">
  <div class="contenedor">
    <app-navbar [user]="user" (loginEmitter)="login()" (logoutEmitter)="logout()" (profileEmitter)="profile()"></app-navbar>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
<ng-template #content_profile let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Perfil - {{user.fullname}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <app-profile [user]="user" (submit)="do_update_user($event)"></app-profile>
    </div>
  </div>
</ng-template>
<ng-template #content_login let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Te damos la Bienvenida</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <ul ngbNav #nav="ngbNav" class="nav nav-tabs">
          <li [ngbNavItem]="'login'">
            <a ngbNavLink><strong>Iniciar Sesión</strong></a>
            <ng-template ngbNavContent>
              <app-login (submit)="do_login($event)" [alert]="alert_login"></app-login>
            </ng-template>
          </li>
          <li [ngbNavItem]="'signin'">
            <a ngbNavLink><strong>Crear Cuenta</strong></a>
            <ng-template ngbNavContent>
              <app-signin (submit)="do_signin($event)"></app-signin>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</ng-template>
