<div class="background-image">Apartamentos Disponibles</div>
<div class="row mt-2 mb-2">
  <div class="col-12 text-center m-1 line-container" *ngIf="!show_map">
    <button class="btn btn-warning map-button" (click)="show_map=!show_map"><i class="fas fa-map-marked-alt" style="margin-right: 10px;"></i> Ver Mapa</button>
  </div>
  <div class="col-12">
    <app-map *ngIf="show_map" [width]="'100vw'" [height]="'100vh'" [seleccionable]="false" [markers]="markers" (marker_selected)="marker_selected($event)"></app-map>
  </div>
  <div class="col-12 text-center m-1 line-container" *ngIf="show_map">
    <button class="btn btn-warning map-button" (click)="show_map=!show_map"><i class="fas fa-map-marked-alt" style="margin-right: 10px;"></i> Ocultar Mapa</button>
  </div>
</div>
<app-filter (submit)="filter($event)"></app-filter>
<div class="row m-5">
  <div class="row">
    <div class="col-4" *ngFor="let place of places">
      <app-place [place]="place" [editable]="false" [show_edit]="false"></app-place>
    </div>
  </div>
</div>

