<div class="row content-container mt-2">
  <div class="col-1"></div>
  <div class="col-4">
    <img src="assets/logo_claro.png" class="logo"><br/><br/>
    Luxuria Stays es una empresa creada con el propósito de alquilar apartamentos para cortas y largas estancias, colaborando con diferentes propietarios de diferentes ciudades del mundo.
  </div>
  <div class="col-1"></div>
  <div class="col-3 section">
    <h4 class="title">Oficinas</h4>
    Luxuria Stays - Ecuador<br/>
    Av. Amazonas y Corea<br/>
    Quito - Ecuador
  </div>
  <div class="col-3 section">
    <h4 class="title">Contacto</h4>
    <i class="fas fa-mobile-alt icon"></i> +593 99 658 3107<br/>
    <i class="fas fa-envelope icon"></i> luis.salazar&#64;kfc.com.ec<br/>
    De lunes a viernes<br/>
    de 9.30h a 19.30h
  </div>
</div>
