.content-container {
  background-color: #343a40;
  padding: 20px;
  color: white;
  text-align: justify;
}

.section {
  margin-bottom: 20px;
}

.title {
  color: #d5d5d5;
  font-weight: bold;
}

.icon {
  color: #d5d5d5;
  margin-right: 8px;
}

.logo {
  width: 200px;
  height: auto;
}
