<c-row class="g-3 mb-4">
  <c-col [sm]="7">
    <c-button-toolbar aria-label="Toolbar with button groups" role="group">
      <c-button-group aria-label="Basic example" class="me-2" role="group">
        <button (click)="new_item()" [cModalToggle]="modalXl.id" cButton color="primary" title="Nuevo"><svg cIcon [name]="'cilPlus'" [title]="'cilPlus'" size="1xl"></svg></button>
        <button (click)="is_new = false" [cModalToggle]="modalXl.id" [disabled]="alojamiento_selected.nombre == ''" cButton color="warning" title="Editar"><svg cIcon [name]="'cilPen'" [title]="'cilPen'" size="1xl"></svg></button>
        <button (click)="delete_item(alojamiento_selected, 'alojamientos')" [disabled]="alojamiento_selected.nombre == ''" cButton color="danger" title="Eliminar"><svg cIcon [name]="'cilTrash'" [title]="'cilTrash'" size="1xl"></svg></button>
      </c-button-group>
    </c-button-toolbar>
  </c-col>
  <c-col [sm]>
    <c-input-group>
      <span cInputGroupText>
        <svg cIcon [name]="'cilSearch'" [title]="'cilSearch'" size="1xl"></svg>
      </span>
      <input cFormControl id="autoSizingInputGroup" placeholder="Buscar" [(ngModel)]="filter" (keyup)="filterData()"/>
    </c-input-group>
  </c-col>
</c-row>

<c-modal #modalXl id="modalXl" size="xl" [visible]="visible" (visibleChange)="handleChange($event)">
  <c-modal-header>
    @if (alojamiento_selected.nombre == '') {
      <h5 cModalTitle>Nuevo Alojamiento</h5>
    }
    @if (alojamiento_selected.nombre !== '') {
      <h5 cModalTitle>Edición de Alojamiento</h5>
    }
    <button cButtonClose (click)="cancelar()"></button>
  </c-modal-header>
  <c-modal-body>
    cuerpo
  </c-modal-body>
</c-modal>

<c-row class="g-3 mb-2" style="max-height: 75vh; overflow-y: auto;">
  @for(alojamiento of alojamientos_shown; track $index){
    <c-col [lg]="4">
      <c-card class="mb-4" (click)="alojamiento_selected = alojamiento" [class]="{'card_selected': alojamiento_selected == alojamiento}">
        <c-card-header>
          @if(alojamiento.images.length>0) {
            <img class="mb-2" [cCardImg]="'top'" [src]="'data:' + alojamiento.images[0].type + ';base64,' + alojamiento.images[0].file_base64" style="max-height: 200px;">
          }
          <h4>{{alojamiento.nombre}}</h4>
        </c-card-header>
        <c-card-body>
          <table cTable small>
            <tbody>
              <tr>
                <th scope="row">Capacidades:</th><td>
                  <c-row class="g-3 mb-2">
                    <c-col [sm]="4"> {{alojamiento.habitaciones}} <i class="fas fa-bed"></i> </c-col>
                    <c-col [sm]="4"> {{alojamiento.banos}} <i class="fa-solid fa-toilet"></i> </c-col>
                    <c-col [sm]="4"> {{alojamiento.personas}} <i class="fas fa-user"></i> </c-col>
                  </c-row>
                </td>
              </tr>
              <tr>
                <th scope="row">Costos:</th><td>
                  <c-row class="g-3 mb-2">
                    <c-col [sm]="6"><b>Noche:</b> {{alojamiento.desde_noche}}</c-col>
                    <c-col [sm]="6"><b>Mes:</b> {{alojamiento.desde_mes}}</c-col>
                  </c-row>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="width: 100%; height: 60px; overflow-y: auto;">
            <p class="text-body-secondary small" style="text-align: justify;">
              {{alojamiento.descripcion}}
            </p>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  }
</c-row>
