<c-row class="g-3 mb-4">
  <c-col [sm]="7">
    <c-button-toolbar aria-label="Toolbar with button groups" role="group">
      <c-button-group aria-label="Basic example" class="me-2" role="group">
        <button (click)="new_item()" [cModalToggle]="modalXl.id" cButton color="primary" title="Nuevo"><svg cIcon [name]="'cilPlus'" [title]="'cilPlus'" size="1xl"></svg></button>
      </c-button-group>
      <c-button-group aria-label="Basic example" class="me-2" role="group">
        <button [cModalToggle]="modalXlComments.id" [disabled]="alojamiento_selected.nombre == ''" cButton color="success" title="Comentarios"><svg cIcon [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg></button>
      </c-button-group>
      <c-button-group aria-label="Basic example" class="me-2" role="group">
        <button (click)="is_new = false" [cModalToggle]="modalXl.id" [disabled]="alojamiento_selected.nombre == ''" cButton color="warning" title="Editar"><svg cIcon [name]="'cilPen'" [title]="'cilPen'" size="1xl"></svg></button>
        <button (click)="delete_item(alojamiento_selected, 'alojamientos')" [disabled]="alojamiento_selected.nombre == ''" cButton color="danger" title="Eliminar"><svg cIcon [name]="'cilTrash'" [title]="'cilTrash'" size="1xl"></svg></button>
      </c-button-group>
    </c-button-toolbar>
  </c-col>
  <c-col [sm]>
    <c-input-group>
      <span cInputGroupText>
        <svg cIcon [name]="'cilSearch'" [title]="'cilSearch'" size="1xl"></svg>
      </span>
      <input cFormControl id="autoSizingInputGroup" placeholder="Buscar" [(ngModel)]="filter" (keyup)="filterData()"/>
    </c-input-group>
  </c-col>
</c-row>

<c-modal #modalXlComments id="modalXlComments" size="xl" [visible]="visible_comments" (visibleChange)="handleChangeComments($event)">
  <c-modal-header>
    <h5 cModalTitle>{{alojamiento_selected.nombre}}</h5>&nbsp;<app-stars [rate]="alojamiento_selected.rate"></app-stars>
    <button cButtonClose (click)="cancelar()"></button>
  </c-modal-header>
  <c-modal-body>
      <c-row class="mb-2">
        @for(comentario of alojamiento_selected.comentarios; track $index) {
          <c-col [sm]="12">
            <c-card class="mb-2">
              <c-card-header>
                <h6>{{comentario.remitente}}</h6>
              </c-card-header>
              <c-card-body>
                <p style="text-align: justify; width: 100%;">
                  {{comentario.text}}
                </p>
              </c-card-body>
              <c-card-footer style="text-align: right;">
                <small style="width: 100%;">{{comentario.date}}</small>
              </c-card-footer>
            </c-card>
          </c-col>
        }
      </c-row>
  </c-modal-body>
</c-modal>

<c-modal #modalXl id="modalXl" size="xl" [visible]="visible" (visibleChange)="handleChange($event)">
  <c-modal-header>
    @if (alojamiento_selected.nombre == '') {
      <h5 cModalTitle>Nuevo Inmueble</h5>
    }
    @if (alojamiento_selected.nombre !== '') {
      <h5 cModalTitle>Edición de Inmueble</h5>
    }
    <button cButtonClose (click)="cancelar()"></button>
  </c-modal-header>
  <c-modal-body>
    <c-row class="mb-2">
      <c-col [sm]="12">
        <h5 cLabel><b>Galería:</b></h5>
        <app-file-drop
          [accept]="'image/*,video/*'"
          [files]="galeria"
          [folder]="'fotografias_alojamientos'"
          [max_file_count]="30"
          [max_file_size]="40"
          [required]="true"
          (files_uploaded)="cargar_galeria($event)"
        ></app-file-drop>
      </c-col>
      <c-col [sm]="6">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.nombre" placeholder="Título" type="text" />
          <label cLabel for="floatingInput">Título</label>
        </div>
      </c-col>
      <c-col [sm]="6">
        <div [cFormFloating]="true" class="mb-3">
          <select cSelect #select_propietario (change)="do_select_propietario(select_propietario.value)">
            <option disabled selected>Propietario del inmueble...</option>
            @for(propietario of propietarios; track $index) {
              <option [value]="propietario.item_id">{{propietario.name}}</option>
            }
          </select>
          <label cLabel for="floatingInput">Propietario</label>
        </div>
      </c-col>
      <c-col [sm]="12">
        <div [cFormFloating]="true" class="mb-3">
          <textarea cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.descripcion" placeholder="Descripción" type="text"></textarea>
          <label cLabel for="floatingInput">Descripción</label>
        </div>
      </c-col>
      <c-col [sm]="4">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.personas" placeholder="Número de Personas" type="number"/>
          <label cLabel for="floatingInput">Número de Personas</label>
        </div>
      </c-col>
      <c-col [sm]="4">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.habitaciones" placeholder="Número de Habitaciones" type="number"/>
          <label cLabel for="floatingInput">Número de Habitaciones</label>
        </div>
      </c-col>
      <c-col [sm]="4">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.banos" placeholder="Número de Baños" type="number"/>
          <label cLabel for="floatingInput">Número de Baños</label>
        </div>
      </c-col>
      <c-col [sm]="4">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.metros" placeholder="Metros (m2)" type="number"/>
          <label cLabel for="floatingInput">Metros (m2)</label>
        </div>
      </c-col>
      <c-col [sm]="4">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.desde_noche" placeholder="Costo por Noche" type="number" step="0.01"/>
          <label cLabel for="floatingInput">Costo por Noche</label>
        </div>
      </c-col>
      <c-col [sm]="4">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.desde_mes" placeholder="Costo por Mes" type="number" step="0.01"/>
          <label cLabel for="floatingInput">Costo por Mes</label>
        </div>
      </c-col>
      <c-col [sm]="6">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.check_in" placeholder="Horario Check-In" type="time"/>
          <label cLabel for="floatingInput">Horario Check-In</label>
        </div>
      </c-col>
      <c-col [sm]="6">
        <div [cFormFloating]="true" class="mb-3">
          <input cFormControl id="floatingInput" [(ngModel)]="alojamiento_selected.check_out" placeholder="Horario Check-Out" type="time"/>
          <label cLabel for="floatingInput">Horario Check-Out</label>
        </div>
      </c-col>
    </c-row>
    <c-col [sm]="12">
      <h5 cLabel><b>Servicios:</b></h5>
      <c-input-group class="mb-3">
        <button cButton color="primary" cInputGroupText for="inputGroupSelect01" (click)="add_service(selected_service)">
          <i class="fas fa-add"></i> Agregar
        </button>
        <select cSelect id="inputGroupSelect01" #select_service (change)="do_select_service(select_service.value)">
          <option disabled selected>Seleccione el servicio que desea agregar...</option>
          @for(service of servicios; track $index) {
            <option [value]="service.item_id">{{service.name}}</option>
          }
        </select>
      </c-input-group>
    </c-col>
    @for(service of alojamiento_selected.servicios; track $index) {
    <c-col [sm]="12">
      <c-badge color="danger" (click)="delete_service(service.item_id)"><i class="fas fa-trash"></i></c-badge>&nbsp;&nbsp;&nbsp;<i [class]="service.ico"></i> {{service.name}}
    </c-col>
    }
    <c-col [sm]="12" class="mt-2, mb-2">
      <h5 cLabel><b>Condiciones:</b></h5>
      <c-input-group class="mb-3">
        <button cButton color="primary" cInputGroupText for="inputGroupSelect01" (click)="add_condition(selected_condition)">
          <i class="fas fa-add"></i> Agregar
        </button>
        <select cSelect id="inputGroupSelect01" #select_condition (change)="do_select_condition(select_condition.value)">
          <option disabled selected>Seleccione el servicio que desea agregar...</option>
          @for(condition of condiciones; track $index) {
            <option [value]="condition.item_id">{{condition.name}}</option>
          }
        </select>
      </c-input-group>
    </c-col>
    @for(condition of alojamiento_selected.condiciones; track $index) {
    <c-col [sm]="12">
      <c-badge color="danger" (click)="delete_condition(condition.item_id)"><i class="fas fa-trash"></i></c-badge>&nbsp;&nbsp;&nbsp;<i [class]="condition.ico"></i> {{condition.name}}
    </c-col>
    }
    <c-row class="mb-2">
      <c-col [sm]="12">
        <app-map
          [width]="'100%'"
          [height]="'400px'"
          [seleccionable]="true"
          [markers]="[{place: alojamiento_selected, position: alojamiento_selected.ubication}]"
          [mapCenter]="alojamiento_selected.ubication"
          (coords_selected)="update_map_cords($event)">
        </app-map>
      </c-col>
    </c-row>
    <c-row class="g-3 mb-2">
      <c-button-toolbar role="group">
        <c-button-group class="m-auto" role="group">
          <button (click)="save()" cButton color="primary" title="Guardar"><svg cIcon [name]="'cilSave'" [title]="'cilSave'" size="1xl"></svg> Guardar</button>
          <button (click)="cancelar()" cButton color="danger" title="Cancelar"><svg cIcon [name]="'cilX'" [title]="'cilX'" size="1xl"></svg> Cancelar</button>
        </c-button-group>
      </c-button-toolbar>
    </c-row>
  </c-modal-body>
</c-modal>

<c-row class="g-3 mb-2" style="max-height: 75vh; overflow-y: auto;">
  @for(alojamiento of alojamientos_shown; track $index){
    <c-col [lg]="4">
      <c-card class="mb-4" (click)="alojamiento_selected = alojamiento; galeria = alojamiento.images" [class]="{'card_selected': alojamiento_selected == alojamiento}">
        <c-card-header>
          @if(alojamiento.images.length > 0) {
            @if(alojamiento.images[0].type.startsWith('image')) {
              <img class="mb-2" [cCardImg]="'top'" [src]="'data:' + alojamiento.images[0].type + ';base64,' + alojamiento.images[0].file_base64" style="max-height: 200px; min-height: 200px;">
            }
            @if(!alojamiento.images[0].type.startsWith('image')) {
              <video style="height:300px; width:100%;" class="d-block w-100" controls autoplay muted loop>
                <source [src]="'data:' + alojamiento.images[0].type + ';base64,' + alojamiento.images[0].file_base64" [type]="alojamiento.images[0].type">
              </video>
            }
          }
          <h5>{{alojamiento.nombre}}</h5>
          <c-row>
            <c-col [sm]="10">
              <app-stars [rate]="alojamiento.rate"></app-stars>
            </c-col>
            <c-col [sm]="2" style="text-align: right;">
              <c-badge color="dark" (click)="hide_alojamiento(alojamiento)">
                @if(alojamiento.hide) {
                  <i class="fas fa-eye-slash"></i>
                }
                @if(!alojamiento.hide) {
                  <i class="fas fa-eye"></i>
                }
              </c-badge>
            </c-col>
          </c-row>
        </c-card-header>
        <c-card-body>
          <table cTable small>
            <tbody>
              <tr>
                <th scope="row">Capacidades:</th><td>
                  <c-row class="g-3 mb-2">
                    <c-col [sm]="4"> {{alojamiento.habitaciones}} <i class="fas fa-bed"></i> </c-col>
                    <c-col [sm]="4"> {{alojamiento.banos}} <i class="fa-solid fa-toilet"></i> </c-col>
                    <c-col [sm]="4"> {{alojamiento.personas}} <i class="fas fa-user"></i> </c-col>
                  </c-row>
                </td>
              </tr>
              <tr>
                <th scope="row">Costos:</th><td>
                  <c-row class="g-3 mb-2">
                    <c-col [sm]="6"><b>Noche:</b> {{alojamiento.desde_noche}}</c-col>
                    <c-col [sm]="6"><b>Mes:</b> {{alojamiento.desde_mes}}</c-col>
                  </c-row>
                </td>
              </tr>
              <tr>
                <th scope="row">Checks:</th><td>
                  <c-row class="g-3 mb-2">
                    <c-col [sm]="6"><b>In:</b> {{alojamiento.check_in}}</c-col>
                    <c-col [sm]="6"><b>Out:</b> {{alojamiento.check_out}}</c-col>
                  </c-row>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="width: 100%; height: 60px; overflow-y: auto;">
            <p class="text-body-secondary small" style="text-align: justify;">
              {{alojamiento.descripcion}}
            </p>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  }
</c-row>
