<div class="w-full h-full">
  @if(alojamientos_shown.length == 0) {
    <c-row class="mt-5">
      <c-col>
        <p style="width: 100%; text-align: center;">No se encontraron resultados</p>
      </c-col>
    </c-row>
  }
  @if(alojamientos_shown.length > 0) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
        @for (item of alojamientos_shown; track $index) {
          <app-hero-item [alojamiento]="item" (click)="visible = true; alojamiento_selected = item"></app-hero-item>
        }
    </div>
  }
</div>
<c-modal #modalXlMap id="modalXlMap" size="xl" [fullscreen]="true" [visible]="visible_map" (visibleChange)="handleChangeMap($event)">
  <c-modal-header>
    <h5 cModalTitle>Luxury Stays - Inmuebles disponibles</h5>
    <button cButtonClose (click)="cancelar()"></button>
  </c-modal-header>
  <c-modal-body>
      <c-row class="mb-2">
        <c-col>
          <app-map
            [seleccionable]="false"
            [show_hints]="true"
            [width]="'100%'"
            [height]="'88vh'"
            [markers]="markers"
            (marker_selected)="marker_selected($event)">
          </app-map>
        </c-col>
      </c-row>
  </c-modal-body>
</c-modal>

<c-modal #modalXl id="modalXl" size="xl" [visible]="visible" (visibleChange)="handleChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{alojamiento_selected.nombre}}</h5>
    <button cButtonClose (click)="cancelar()"></button>
  </c-modal-header>
  <c-modal-body>
      <app-alojamiento-preview [alojamiento]="alojamiento_selected"></app-alojamiento-preview>
  </c-modal-body>
</c-modal>

<c-modal #modalXl id="modalXl" size="xl" [visible]="visible_login" (visibleChange)="handleChangeLogin($event)">
  <c-modal-header>
    AUTENTICACION
    <button cButtonClose (click)="cancelar()"></button>
  </c-modal-header>
  <c-modal-body>
      <app-login></app-login>
  </c-modal-body>
</c-modal>

<c-modal #modalXl id="modalXl" size="xl" [visible]="visible_profile" (visibleChange)="handleChangeProfile($event)">
  <c-modal-header>
    PERFIL DE USUARIO
    <button cButtonClose (click)="cancelar()"></button>
  </c-modal-header>
  <c-modal-body>
      <app-profile></app-profile>
  </c-modal-body>
</c-modal>
