<svg cIcon [class]="rate >= 20 ? 'star_on' : 'star_off'"  [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
<svg cIcon [class]="rate >= 40 ? 'star_on' : 'star_off'" [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
<svg cIcon [class]="rate >= 60 ? 'star_on' : 'star_off'" [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
<svg cIcon [class]="rate >= 80 ? 'star_on' : 'star_off'" [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
<svg cIcon [class]="rate == 100 ? 'star_on' : 'star_off'" [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
