<svg cIcon [class]="rate >= 1 ? 'star_on' : 'star_off'"  [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
<svg cIcon [class]="rate >= 2 ? 'star_on' : 'star_off'" [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
<svg cIcon [class]="rate >= 3 ? 'star_on' : 'star_off'" [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
<svg cIcon [class]="rate >= 4 ? 'star_on' : 'star_off'" [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
<svg cIcon [class]="rate == 5 ? 'star_on' : 'star_off'" [name]="'cilStar'" [title]="'cilStar'" size="1xl"></svg>
