<div class="row">
  <div class="col-12">
    <div class="logo">
      <img src="assets/logo_color.png" class="logo-img">
    </div>
  </div>
  <div class="col-12">
    <div class="mb-3">
      <label for="fullname" class="form-label">Nombre Completo</label>
      <input type="text" [(ngModel)]="data.fullname" class="form-control" id="fullname" placeholder="Luis Alfonso Salazar Vaca" (input)="do_validations()">
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label for="identification" class="form-label">Identificación</label>
      <input type="text" [(ngModel)]="data.identification" class="form-control" id="identification" placeholder="1720364049" (input)="do_validations()">
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label for="phone_number" class="form-label">Teléfono</label>
      <input type="text" [(ngModel)]="data.phone_number" class="form-control" id="phone_number" placeholder="+593996583107" (input)="do_validations()">
    </div>
  </div>
  <div class="col-12">
    <div class="mb-3">
      <label for="borndate" class="form-label">Fecha de Nacimiento</label>
      <input type="date" [(ngModel)]="data.borndate"  class="form-control" id="borndate" (input)="do_validations()">
    </div>
  </div>
  <div class="col-12">
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" [(ngModel)]="data.email" class="form-control" id="email" placeholder="name@example.com" (input)="do_validations()">
    </div>
  </div>
  <div class="col-12">
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" [(ngModel)]="data.password" class="form-control" id="password" (input)="do_validations()">
    </div>
  </div>
  <div class="col-12">
    <div class="mb-3">
      <label for="password_confirm" class="form-label">Confirmar Contraseña</label>
      <input type="password" [(ngModel)]="data.password_confirm" class="form-control" id="password_confirm" (input)="do_validations()">
    </div>
  </div>
  <div class="col-12" *ngIf="alert.messages.length > 0">
    <div class="alert alert-danger" role="alert">
      <h6 class="alert-heading">Errores en los datos</h6>
      <ul>
        <li *ngFor="let message of alert.messages">{{ message }}</li>
      </ul>
    </div>
  </div>
  <div class="col-12" style="text-align: right;" *ngIf="alert.messages.length == 0">
    <button type="button" class="btn btn-dark" (click)="submit()">Crear Cuenta</button>
  </div>
</div>
