<div class="py-3 px-3">
  <div class="relative h-[200px] cursor-pointer img-container">
    @if(alojamiento.portada) {
      @if(alojamiento.portada.type.startsWith('image')) {
        <img class="w-full h-full object-cover rounded-lg" [src]="'data:' + alojamiento.portada.type + ';base64,' + alojamiento.portada.file_base64">
      }
      @if(!alojamiento.portada.type.startsWith('image')) {
        <video class="w-full h-full object-cover rounded-lg" controls autoplay muted loop>
          <source [src]="'data:' + alojamiento.portada.type + ';base64,' + alojamiento.portada.file_base64" [type]="alojamiento.portada.type">
        </video>
      }
    }
  </div>
  <div class="flex flex-col mt-2">
    <span class="font-semibold text-base text-black">{{ alojamiento.nombre }}<br/><app-stars [rate]="alojamiento.rate"></app-stars></span>
    <span class="font-medium text-gray-500 text-sm text-justify">{{ alojamiento.descripcion }}</span>
    <span class="font-semibold text-black text-sm">{{ alojamiento.status }}</span>
  </div>
</div>
