<c-row class="px-5 py-3">

  <c-row class="my-3">
    <c-col sm="12">
      <div class="relative w-full h-96 overflow-hidden">
        <div class="flex transition-transform duration-500 ease-in-out" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
          @for (slide of alojamiento.images; track $index) {
            <div class="min-w-full h-96 flex-shrink-0 flex justify-center items-center">
              @if(slide.type.startsWith('image')) {
                <img [src]="'data:' + slide.type + ';base64,' + slide.file_base64" class="w-auto h-full">
              }
              @if(!slide.type.startsWith('image')) {
                <video class="w-auto h-full" controls autoplay muted loop>
                  <source [src]="'data:' + slide.type + ';base64,' + slide.file_base64" [type]="slide.type">
                </video>
              }
            </div>
          }
        </div>
        <button class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2" (click)="prevSlide()">
          &#10094;
        </button>
        <button class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-800 bg-opacity-50 text-white p-2" (click)="nextSlide()">
          &#10095;
        </button>
      </div>
    </c-col>
  </c-row>
  <c-row class="mt-3">
    <c-col sm="12">
      <h3>Descripción del alojamiento</h3>
    </c-col>
    <c-col sm="12">
      <p style="text-align: justify;">{{alojamiento.descripcion}}</p>
    </c-col>
  </c-row>
  <c-row>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <c-card>
        <span class="p-3">
          <i class="fa-solid fa-person-walking-luggage"></i>
          Huespedes: {{alojamiento.personas}}
        </span>
      </c-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <c-card>
        <span class="p-3">
          <i class="fa-solid fa-door-open"></i>
          Habitaciones: {{alojamiento.habitaciones}}
        </span>
      </c-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <c-card>
        <span class="p-3">
          <i class="fa-solid fa-toilet"></i>
          Baños: {{alojamiento.banos}}
        </span>
      </c-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <c-card>
        <span class="p-3">
          <i class="fa-solid fa-ruler"></i>
          {{alojamiento.metros}}m2
        </span>
      </c-card>
    </div>
  </c-row>
  <c-row>
    <c-col sm="12 mt-3">
      <h3>Costos</h3>
    </c-col>
    <c-col xs="12">
      <button cButton class="px-4 mr-2 mt-2" color="primary" (click)="toggle_reservation_modal()">
        {{alojamiento.desde_noche}} por noche
      </button>
      <button cButton class="px-4 mt-2" color="primary" (click)="toggle_reservation_modal()">
        {{alojamiento.desde_mes}} por mes
      </button>
    </c-col>
  </c-row>
  <c-row>
    <c-col lg="6">
      <c-row class="my-3">
        <c-col sm="12">
          <h3>Servicios</h3>
        </c-col>
        @for (service of alojamiento.servicios; track $index) {
          <c-col sm="12">
            <span>
              <i [class]="service.ico" class="icono"></i> {{service.name}}
            </span>
          </c-col>
        }
      </c-row>
    </c-col>
    <c-col lg="6">
      <c-row class="my-3">
        <c-col sm="12">
          <h3>Condiciones</h3>
        </c-col>
        @for (condicion of alojamiento.condiciones; track $index) {
          <c-col sm="12">
            <span>
              <i [class]="condicion.ico" class="icono"></i> {{condicion.name}}
            </span>
          </c-col>
        }
      </c-row>
    </c-col>
  </c-row>
  <c-row class="my-3">
    <c-col sm="12">
      <h3>Horarios de Check</h3>
    </c-col>
    <c-col xs="12">
      <b>Check In:</b>
      {{alojamiento.check_in}}
    </c-col>
    <c-col xs="12">
      <b>Check Out:</b>
      {{alojamiento.check_out}}
    </c-col>
  </c-row>
  @if( propietario ) {
    <c-row class="my-3">
      <c-col sm="12">
        <h3>Conozca a su anfitrión</h3>
      </c-col>
      <c-col md="6">
        <c-row>
          <c-col style="text-align: center;">
            @if( propietario.photo ) {
              <img class="mb-2" [src]="'data:' + propietario.photo.type + ';base64,' + propietario.photo.file_base64" style="display: inline; max-height: 200px; min-height: 100px; border-radius: 50%;"><br/>
              {{propietario.name}}
            }
          </c-col>
        </c-row>
        <c-row>
          <c-col></c-col>
        </c-row>
      </c-col>
      <c-col md="6">
        <p style="text-align: justify;">{{propietario.description}}</p>
      </c-col>
    </c-row>
  }
  <c-row class="my-3">
    <c-col sm="12">
      <h3>Ubicación</h3>
    </c-col>
    <c-col sm="12">
      <h5>Zona: {{alojamiento.zona}}</h5>
    </c-col>
    <c-col sm="12">
      <app-map [show_hints]="false" [seleccionable]="false" [width]="'100%'" [height]="'400px'" [markers]="[{place: alojamiento, position: alojamiento.ubication}]" [mapCenter]="alojamiento.ubication"></app-map>
    </c-col>
  </c-row>
  <c-row class="my-3">
    <c-button-toolbar role="group">
      <c-button-group class="m-auto" role="group">
        <button  cButton color="primary" title="Reservar" (click)="toggle_reservation_modal()"><i class="fas fa-calendar-plus"></i> Reservar</button>
        <button  cButton color="danger" title="Cancelar" (click)="cancelar()"><i class="fas fa-times"></i> Cancelar</button>
      </c-button-group>
    </c-button-toolbar>
  </c-row>
  <c-row class="my-3">
    <c-col sm="12">
      <h3>Comentarios</h3>
    </c-col>
    <c-col sm="12">
      <h5>Calificación promedio: <app-stars [rate]="alojamiento.rate"></app-stars></h5>
    </c-col>
    @for(comentario of alojamiento.comentarios; track $index) {
      <c-col [sm]="12">
        <c-card class="mb-2">
          <c-card-header>
            <h6>{{comentario.remitente}}&nbsp;&nbsp;<app-stars [rate]="comentario.rate"></app-stars></h6>
          </c-card-header>
          <c-card-body>
            <p style="text-align: justify; width: 100%;">
              {{comentario.texto}}
            </p>
          </c-card-body>
          <c-card-footer style="text-align: right;">
            <small style="width: 100%;">{{comentario.timestamp | date: 'y-MM-dd HH:mm' }}</small>
          </c-card-footer>
        </c-card>
      </c-col>
    }
  </c-row>

</c-row>

