<c-row class="justify-content-center m-10">
  <c-col sm="12" class="p-3">
    <c-card-group>
      <c-card>
        <c-card-body>
          <p class="text-body-secondary">Actualizaremos los datos de tu cuenta</p>
          <div class="row">
            <c-col sm="12">
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl id="floatingInput" [(ngModel)]="data.fullname" placeholder="Nombre Completo" type="text" />
                <label cLabel for="floatingInput">Nombre Completo</label>
              </div>
            </c-col>
            <c-col sm="12" md="12" lg="6" xl="6">
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl id="floatingInput" [(ngModel)]="data.email" placeholder="Correo Electrónico" type="text" />
                <label cLabel for="floatingInput">Correo Electrónico</label>
              </div>
            </c-col>
            <c-col sm="12" md="12" lg="6" xl="6">
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl id="floatingInput" [(ngModel)]="data.identification" placeholder="Documento de Identidad" type="text" />
                <label cLabel for="floatingInput">Documento de Identidad</label>
              </div>
            </c-col>
            <c-col sm="12" md="12" lg="6" xl="6">
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl id="floatingInput" [(ngModel)]="data.phone_number" placeholder="Teléfono de Contacto" type="text" />
                <label cLabel for="floatingInput">Teléfono de Contacto</label>
              </div>
            </c-col>
            <c-col sm="12" md="12" lg="6" xl="6">
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl id="floatingInput" [ngModel]="data.borndate | date: 'y-MM-dd'" (ngModelChange)="data.borndate = $event" placeholder="Fecha de Nacimiento" type="date" />
                <label cLabel for="floatingInput">Fecha de Nacimiento</label>
              </div>
            </c-col>
            <c-col sm="12" md="12" lg="6" xl="6">
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl id="floatingInput" [(ngModel)]="data.password" placeholder="Contraseña" type="password" />
                <label cLabel for="floatingInput">Contraseña</label>
              </div>
            </c-col>
            <c-col sm="12" md="12" lg="6" xl="6">
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl id="floatingInput" [(ngModel)]="data.password_confirm" placeholder="Confirmar de Contraseña" type="password" />
                <label cLabel for="floatingInput">Confirmar de Contraseña</label>
              </div>
            </c-col>
          </div>
          <c-row>
            <c-col xs="6">
              <button cButton [disabled]="data.password != data.password_confirm || data.password == ''" class="px-4" color="primary" (click)="update_profile()">
                Actualizar Perfil
              </button>
            </c-col>
          </c-row>
        </c-card-body>
      </c-card>
    </c-card-group>
  </c-col>
</c-row>
