
<div class="tab-bar py-2 shadow-md z-50">
  <app-footer class="hidden md:flex"></app-footer>
  <ul class="flex items-end justify-center gap-12 text-xs bg-white pt-2">
    <li class="flex flex-col items-center justify-center gap-1" (click)="toggle_map_modal()">
      <i class="fa-regular fa-map fa-2x"></i>
      <span>Buscar en el mapa</span>
    </li>
    <li class="flex flex-col items-center justify-center gap-1">
      <i class="fa-regular fa-user-circle fa-2x"></i>
      <span>Iniciar Sesión</span>
    </li>
  </ul>
</div>
