.wallpaper {
  margin: 0;
  padding: 0;
  background-image: url('http://localhost:9090/assets/login_admin_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  z-index: -1000;
}
