<div class="bg-light dark:bg-transparent wallpaper min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>

                <h1>Te damos la Bienvenida</h1>
                <p class="text-body-secondary">Accede con tu cuenta</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl [(ngModel)]="data.email"  placeholder="Correo Electrónico" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="current-password"
                    cFormControl
                    [(ngModel)]="data.password"
                    placeholder="Contraseña"
                    type="password"
                    (keyup.enter)="login()"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" (click)="login()">
                      Iniciar Sesión
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                  </c-col>
                </c-row>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'minWidth.%': 44}" class="py-5" style="background-color: rgb(233, 233, 233);">
            <c-card-body class="text-center">
              <div>
                <div style="width: 100%; text-align: center;">
                  <img src="http://localhost:9090/assets/logo_color.png" class="col-6"/>
                </div>
                <p style="text-align: justify;">
                  ¡Bienvenidos a Luxury Stays! Descubre los mejores departamentos de arriendo en España, donde el lujo y la comodidad se encuentran en cada rincón. Explora nuestra exclusiva selección de propiedades y encuentra el lugar perfecto para tu próxima estadía. Tu experiencia de alojamiento en España comienza aquí. ¡Bienvenidos a un nuevo estándar de lujo!
                </p>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
