.infowindow_popup {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 110px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* Sombra hacia la derecha y abajo */
  position: absolute; /* Permite posicionar el elemento en coordenadas absolutas */
  top: 0;
  left: 0;
}


.infowindow_popup h1 {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.infowindow_popup img {
  width: calc(100% - 6px); /* Ancho completo menos el margen */
  height: 80px;
  border-radius: 5px;
  margin: 3px;
}

.infowindow_popup p {
  font-size: 10px;
  margin: 0;
  text-align: justify;
}
