<div class="row" (wheel)="onMouseWheel($event)">
  <google-map #googleMap
    [width]="width"
    [height]="height"
    [zoom]="15"
    [options]="mapOptions"
    [center]="mapCenter"
    (mapClick)="onMapClick($event)">
    @for(marker of markers; track $index) {
      <map-marker #gmarker
        [position]="marker.position"
        (mapMouseover)="mouseOver($event, marker.place)"
        (mapClick)="markerClick(marker.place)">
      </map-marker>
    }
  </google-map>
</div>
<div [hidden]="!mi_infowindow.visible" class="infowindow_popup"  [ngStyle]="{'top.px': mi_infowindow.pos_y, 'left.px': mi_infowindow.pos_x}">
  <div class="row">
    <div class="col-4">
      <img [src]="mi_infowindow.src_img">
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12" style="height: 14px;">
          <h1>{{mi_infowindow.title}}</h1>
        </div>
        <div class="col-12" style="height: 80px; overflow-y: auto;">
          <p>{{mi_infowindow.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


