<div class="bg-gray-200 py-2">
  <div class="border-b-[1px]">
    <div class="px-5 mt-10 grid grid-cols-2 gap-y-3 md:px-7 lg:grid-cols-3 xl:grid-cols-4" style="grid-template-columns: 200px 400px auto auto;">
      <img src="assets/logo_color.png" alt="logo_claro" style="max-width: 150px;">
      @for (popular of popularItems; track $index) {
        <div class="flex flex-col">
          <span class="text-sm font-semibold">{{ popular.title }}</span>
          <span class="text-sm font-medium opacity-60 mr-20">
            @for (item of popular.data; track $index) {
              <div>{{ item.value }}</div>
            }
          </span>
        </div>
      }
    </div>
  </div>
</div>
