<c-row class="g-3 mb-2">
  <c-col [sm]="7">
    <c-button-toolbar aria-label="Toolbar with button groups" role="group">
      <c-button-group aria-label="Basic example" class="me-2" role="group">
        <button (click)="new_item()" [cModalToggle]="modalXl.id" cButton color="primary" title="Nuevo"><svg cIcon [name]="'cilPlus'" [title]="'cilPlus'" size="1xl"></svg></button>
        <button (click)="is_new = false" [cModalToggle]="modalXl.id" [disabled]="propietario_selected.name == ''" cButton color="warning" title="Editar"><svg cIcon [name]="'cilPen'" [title]="'cilPen'" size="1xl"></svg></button>
        <button (click)="delete_item(propietario_selected, 'propietarios')" [disabled]="propietario_selected.name == ''" cButton color="danger" title="Eliminar"><svg cIcon [name]="'cilTrash'" [title]="'cilTrash'" size="1xl"></svg></button>
      </c-button-group>
    </c-button-toolbar>
  </c-col>
  <c-col [sm]>
    <c-input-group>
      <span cInputGroupText>
        <svg cIcon [name]="'cilSearch'" [title]="'cilSearch'" size="1xl"></svg>
      </span>
      <input cFormControl id="autoSizingInputGroup" placeholder="Buscar" [(ngModel)]="filter" (keyup)="filterData()"/>
    </c-input-group>
  </c-col>
</c-row>

<c-modal #modalXl id="modalXl" size="xl" [visible]="visible" (visibleChange)="handleChange($event)">
  <c-modal-header>
    @if (propietario_selected.name == '') {
      <h5 cModalTitle>Nuevo Propietario</h5>
    }
    @if (propietario_selected.name !== '') {
      <h5 cModalTitle>Edición de Propietario</h5>
    }
    <button cButtonClose (click)="cancelar()"></button>
  </c-modal-header>
  <c-modal-body>
    <c-col [sm]="12">
      <h5 cLabel><b>Fotografía:</b></h5>
      <app-file-drop
        [accept]="'image/*'"
        [files]="fotografias"
        [folder]="'fotografias_propietarios'"
        [max_file_count]="1"
        [max_file_size]="10"
        [required]="true"
        (files_uploaded)="cargar_fotografia($event)"
      ></app-file-drop>
    </c-col>
    <div [cFormFloating]="true" class="mb-3">
      <input cFormControl id="floatingInput" [(ngModel)]="propietario_selected.name" placeholder="Nombre Completo del Propietario" type="text" />
      <label cLabel for="floatingInput">Nombre Completo del Propietario</label>
    </div>
    <div [cFormFloating]="true" class="mb-3">
      <textarea cFormControl id="floatingInput" [(ngModel)]="propietario_selected.description" placeholder="Descripción del Propietario"></textarea>
      <label cLabel for="floatingInput">Descripción del Propietario</label>
    </div>
    <c-row class="g-3 mb-2">
      <c-button-toolbar aria-label="Toolbar with button groups" role="group">
        <c-button-group aria-label="Basic example" class="m-auto" role="group">
          <button (click)="save()" cButton color="primary" title="Guardar"><svg cIcon [name]="'cilSave'" [title]="'cilSave'" size="1xl"></svg> Guardar</button>
          <button (click)="cancelar()" cButton color="danger" title="Cancelar"><svg cIcon [name]="'cilX'" [title]="'cilX'" size="1xl"></svg> Cancelar</button>
        </c-button-group>
      </c-button-toolbar>
    </c-row>
  </c-modal-body>
</c-modal>

<div class="row" style="max-height: 75vh; overflow-y: auto;">
  <table cTable hover>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fotografía</th>
      <th scope="col">Nombre Completo</th>
      <th scope="col">Descripción</th>
    </tr>
    </thead>
    <tbody>
    @for (propietario of propietarios_shown; track $index) {
      <tr (click)="propietario_selected = propietario" [class]="{'row_selected': propietario_selected == propietario}">
        <th scope="row">
          @if (propietario_selected == propietario){
            <i class="fa-regular fa-hand-point-right"></i>
          }
          @if (propietario_selected !== propietario){
            {{$index + 1}}
          }
        </th>
        <th></th>
        <td>{{propietario.name}}</td>
        <td>{{propietario.description}}</td>
      </tr>
    }
    </tbody>
  </table>
</div>

