<header class="sticky top-0 z-50 bg-white pt-2">
  <div class="flex justify-between pr-5 2xl:pr-10 cursor-pointer">
    <img src="assets/logo_color.png" alt="logo_color" class="hidden md:block h-16 w-auto" />
    <div class="hidden md:flex gap-2 items-center justify-end cursor-pointer">
      @if(user) {
        <div
          class="flex items-center gap-2 px-2 rounded-3xl shadow-md hover:shadow-gray-400" (click)="toggle_profile_modal()"
        >
          <span class="m-2">{{user.fullname}}</span>
          <i class="fa-regular fa-user-circle fa-2x my-2"></i>
        </div>
      }
      @if(!user) {
        <div
        class="flex items-center gap-2 px-2 rounded-3xl shadow-md hover:shadow-gray-400" (click)="toggle_login_modal()"
      >
        <i class="fa-regular fa-user-circle fa-2x my-2"></i>
      </div>
      }

    </div>
  </div>
  <app-search-header (filter_change)="filterChange($event)"></app-search-header>
</header>
