<c-row class="g-3 mb-2">
  <c-col [sm]="7">
    <c-button-toolbar aria-label="Toolbar with button groups" role="group">
      <c-button-group aria-label="Basic example" class="me-2" role="group">
        <button (click)="new_item()" [cModalToggle]="modalXl.id" cButton color="primary" title="Nuevo"><svg cIcon [name]="'cilPlus'" [title]="'cilPlus'" size="1xl"></svg></button>
        <button (click)="is_new = false" [cModalToggle]="modalXl.id" [disabled]="service_selected.name == ''" cButton color="warning" title="Editar"><svg cIcon [name]="'cilPen'" [title]="'cilPen'" size="1xl"></svg></button>
        <button (click)="delete_item(service_selected, 'servicios')" [disabled]="service_selected.name == ''" cButton color="danger" title="Eliminar"><svg cIcon [name]="'cilTrash'" [title]="'cilTrash'" size="1xl"></svg></button>
      </c-button-group>
    </c-button-toolbar>
  </c-col>
  <c-col [sm]>
    <c-input-group>
      <span cInputGroupText>
        <svg cIcon [name]="'cilSearch'" [title]="'cilSearch'" size="1xl"></svg>
      </span>
      <input cFormControl id="autoSizingInputGroup" placeholder="Buscar" [(ngModel)]="filter" (keyup)="filterData()"/>
    </c-input-group>
  </c-col>
</c-row>


<c-modal #modalXl id="modalXl" size="xl" [visible]="visible" (visibleChange)="handleChange($event)">
  <c-modal-header>
    @if (service_selected.name == '') {
      <h5 cModalTitle>Nuevo Servicio</h5>
    }
    @if (service_selected.name !== '') {
      <h5 cModalTitle>Edición de Servicio</h5>
    }
    <button cButtonClose (click)="cancelar()"></button>
  </c-modal-header>
  <c-modal-body>
    <div [cFormFloating]="true" class="mb-3">
      <input cFormControl id="floatingInput" [(ngModel)]="service_selected.ico" placeholder="Icono del Servicio" type="text" />
      <label cLabel for="floatingInput">Icono del Servicio</label>
    </div>
    <c-input-group class="mb-3">
      <span cInputGroupText>
        <i [class]="service_selected.ico"></i>
      </span>
      <input disabled cFormControl id="autoSizingInputGroup" placeholder="Vista previa del Icono" [(ngModel)]="service_selected.ico"/>
    </c-input-group>
    <div [cFormFloating]="true" class="mb-3">
      <input cFormControl id="floatingInput" [(ngModel)]="service_selected.name" placeholder="Texto Corto del Servicio" type="text" />
      <label cLabel for="floatingInput">Texto Corto del Servicio</label>
    </div>
    <div [cFormFloating]="true" class="mb-3">
      <textarea cFormControl id="floatingInput" [(ngModel)]="service_selected.description" placeholder="Descripción del Servicio"></textarea>
      <label cLabel for="floatingInput">Descripción del Servicio</label>
    </div>
    <c-row class="g-3 mb-2">
      <c-button-toolbar aria-label="Toolbar with button groups" role="group">
        <c-button-group aria-label="Basic example" class="m-auto" role="group">
          <button (click)="save()" cButton color="primary" title="Guardar"><svg cIcon [name]="'cilSave'" [title]="'cilSave'" size="1xl"></svg> Guardar</button>
          <button (click)="cancelar()" cButton color="danger" title="Cancelar"><svg cIcon [name]="'cilX'" [title]="'cilX'" size="1xl"></svg> Cancelar</button>
        </c-button-group>
      </c-button-toolbar>
    </c-row>
  </c-modal-body>
</c-modal>

<div class="row" style="max-height: 75vh; overflow-y: auto;">
  <table cTable hover>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Icono</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
    </tr>
    </thead>
    <tbody>
    @for (service of servicios_shown; track $index) {
      <tr (click)="service_selected = service" [class]="{'row_selected': service_selected == service}">
        <th scope="row">
          @if (service_selected == service){
            <i class="fa-regular fa-hand-point-right"></i>
          }
          @if (service_selected !== service){
            {{$index + 1}}
          }
        </th>
        <th><i [class]="service.ico"></i></th>
        <td>{{service.name}}</td>
        <td>{{service.description}}</td>
      </tr>
    }
    </tbody>
  </table>
</div>
